# Environnements & caches
.venv/
.env
__pycache__/
*.pyc
*.pyo
*.pyd
.cache/
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Artefacts de build
*.egg-info/
build/
dist/

# Couverture/tests
.coverage
coverage.xml
htmlcov/

# IDE / OS
.DS_Store
.vscode/
.idea/

# Notebooks/outputs
**/.ipynb_checkpoints/
outcmaes/

# Logs
*.log
